<div class="landing-page container">
  <div class="row">
    <div class="task-box col-md-6 col-md-offset-3">
      <h1>{{ lang.about.rules }}</h1>
      <p>
         <ol>
			<li>这是一个在线CTF训练平台.
				<ul>
					<li>Start: {{ ctf_start }}</li>
					<li>Stop: {{ ctf_stop }}</li>
				</ul>
			</li>
			<li>这是介绍</li>
			<li>用户按得分排名。</li>
			<li>任务是按难度依次排序的</li>
			<li>主要有:
				<ul>
					<li>Misc</li>
					<li>Web</li>
					<li>Reversing</li>
					<li>Crypto</li>
					<li>Code</li>
					<li>Exploit</li>
				</ul>
			</li>
			<li>Flag格式为: flag{...}</li>
			<li>请不要对平台使用工具、任何手段进行任何攻击:
				<ul>
					<li>扫描</li>
					<li>爆破</li>
					<li>等等</li>
				</ul>
				由于平台现在还未作任何安全防护,请见谅!
			</li>
			<li>若发现用户违规对平台进行攻击,将立即被清除所得积分,取消比赛资格。包括:
				<ul>
					<li>... 攻击平台.</li>
					<li>... 攻击其他用户</li>
					<li>... 恶意创建用户.</li>
					<li>... 分享解题思路或flag.</li>
				</ul>
			</li>
			<li>积分板: <a href="http://192.168.2.8:8080/scoreboard.json">http://192.168.2.8:8080/scoreboard.json</a></li>
			<li>如果你有什么问题、意见,请与我们联系:
				<ul>
					<li><a href="https://www.duoyinsu.com/"> @ 安识科技</a></li>
					<li><a href="http://byd.dropsec.xyz/about/"> w2n1ck@Blog </a>
				</ul>
			</li>
         </ol>
      </p>
    </div>
  </div>
</div>
